.poster {
  flex: 40%;
}

.movie_info_container {
  padding: 1rem;
  flex: 1;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
}

.author {
  font-size: 0.9rem;
  color: var(--text-gray);
  font-weight: 300;
}

.categorie {
  background-color: #eeea;
  text-align: center;
  color: #888;
  font-size: 0.7rem;
  padding: 0.2rem 0.3rem;
  width: fit-content;
}

.tabs {
  margin-bottom: 2rem;
}

.see_all_reviews {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 0.4rem 0;
  margin-bottom: 2rem;
}

.see_all_reviews:hover {
  background-color: #eee3;
}

.see_all_reviews > div {
  margin-bottom: 0;
}

.review {
  width: 100%;
}

.review_username_profile {
  border-radius: 100%;
  object-fit: cover;
}

.review_username {
  margin-bottom: 0 !important;
}

.review_data {
  display: flex;
  width: 100%;
  padding: 0 0.75rem;
  border-bottom: 0.5px solid #ddd8;
}

.review_comment {
  color: var(--text-gray)
}

.review_stars {
  font-size: 0.9rem !important;
}

.review_stars > li {
  margin-inline-end: 3px !important;
}